.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   // transition: 0.3s;
   z-index: 100;
   transition: 0.4s;
   &.fill {
      background-color: #f1f1f1;
      .header {
         &__down {
            ul {
               background-color: #f1f1f1;
            }
         }
         &__link {
            color: black;
            &::after {
               background-color: black;
            }
         }
         &__logo {
            svg path {
               fill: black;
            }
         }
         &__upper {
            border-color: #0000004d;
         }
         &__actions {
            svg path {
               stroke: black;
            }
         }
         &__circle {
            border-color: #0000004d;
            &:hover {
               border-color: black;
            }
            svg path {
               fill: black;
            }
         }
         &__parent {
            &:hover {
               .header__circle {
                  border-color: black;
               }
            }
         }
         &__burger {
            background-color: #0000001a;
            svg rect {
               fill: black;
            }
         }
      }
   }
   &.hidden-down {
      .header__down {
         pointer-events: none;
         ul {
            translate: 0 -200%;
         }
      }
      .header__upper {
         border-color: transparent !important;
         @media (max-width: $tablet) {
            border-color: #0000004d !important;
         }
         &::after {
            height: 66px;
            @media (max-width: $mobile) {
               height: 52px;
            }
         }
      }
   }
   &.blur {
      .header {
         &__wrapper {
         }
         &__upper {
            &::after {
               opacity: 1;
            }
         }
         // &__down {
         //    ul {
         //       background-color: rgba(255, 255, 255, 0.01);
         //       backdrop-filter: blur(40px);
         //    }
         // }
      }
   }
   &__link,
   &__logo svg path,
   &__upper,
   &__actions svg path,
   &__circle,
   &__circle svg path,
   &__burger,
   &__burger svg path,
   &__burger svg rect {
      transition: 0.5s;
   }

   // .header__wrapper

   &__wrapper {
      height: 66px;

      position: relative;
   }

   // .header__upper

   &__upper {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #ffffff4d;
      &::after {
         content: "";
         display: block;
         position: fixed;
         width: 100vw;
         top: 0;
         left: 0;
         right: 0;
         height: 116px;
         background-color: rgba(255, 255, 255, 0.01);
         backdrop-filter: blur(40px);
         pointer-events: none;
         z-index: -1;
         opacity: 0;
         transition: 0.5s;
         @media (max-width: $tablet) {
            height: 66px;
         }
      }
   }

   // .header__left

   &__left {
      display: flex;
      align-items: center;
      flex: 1;
      margin-right: 150px;
   }

   // .header__burger

   &__burger {
      overflow: hidden;
      width: 36px;
      height: 36px;
      flex: 0 0 36px;
      background-color: #ffffff33;
      border-radius: 50%;
      position: relative;
      &:hover {
         .first {
            path {
               fill: white;
            }
         }
         .second {
            path {
               stroke: white;
            }
         }
      }
      svg {
         position: absolute;
         top: 50%;
         left: 50%;
         translate: -50% -50%;
         transition: 0.4s;
         z-index: 1;
         pointer-events: none;
      }
      .second {
         opacity: 0;
      }
      &.active {
         .second {
            opacity: 1;
         }
         .first {
            opacity: 0;
         }
      }
      div {
         border-radius: 50%;
         width: 0;
         height: 0;
         position: absolute;
         transition: width 1s, height 1s;
         transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
         background-color: $colorPurple;
         translate: -50% -50%;
         pointer-events: none;
      }
   }

   // .header__list

   &__list {
      display: flex;
      margin-left: min(2vw, 24px);
      gap: min(3vw, 38px);
      margin-right: min(3vw, 38px);
   }

   // .header__link

   &__link {
      white-space: nowrap;
      color: white;
      transition: 0.5s;
      position: relative;
      &:hover {
         &::after {
            transform-origin: left;
            transform: scaleX(1) rotate(0.001deg);
         }
      }
      &::after {
         content: "";
         display: block;
         width: 100%;
         height: 1px;
         position: absolute;
         top: calc(100% + 5px);
         left: 0;
         background-color: white;
         transition: 0.5s transform, 0.5s color;
         transform: scaleX(0) rotate(0.001deg);
         transform-origin: right;
      }
   }

   // .header__parent

   &__parent {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: $fontHelvetica;
      font-size: 12px;
      line-height: calc(17 / 12);
      &:hover {
         .header__circle {
            border-color: white;
         }
      }
      &::after {
         display: none;
      }
   }

   // .header__circle

   &__circle {
      width: 24px;
      height: 24px;
      flex: 0 0 24px;
      border: 1px solid #ffffff4d;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      &:hover {
         border-color: white;
      }
   }

   // .header__logo

   &__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      .mobile {
         display: none;
      }
   }

   // .header__media

   &__media {
      display: flex;
   }
   // .header__phone
   &__phone {
      display: flex;
      align-items: center;
      margin-right: 16px;
   }
   &__soc {
      & + & {
         margin-left: 5px;
      }
   }

   // .header__right
   &__right {
      margin-left: min(5vw, 83px);
   }
   // .header__actions

   &__actions {
      display: flex;
      gap: 10px;
      align-items: center;
      a {
         cursor: pointer;
         &:hover {
            svg path {
               opacity: 0.6;
            }
         }
      }
   }
   &__cart {
      margin-left: min(2vw, 25px);
   }
   // .header__down

   &__down {
      transition: 0.5s;
      position: absolute;
      top: 100%;
      left: 0px;
      width: 100vw;
      overflow: hidden;
      margin-left: calc((100vw - 1370px) / -2);
      padding-left: calc((100vw - 1370px) / 2);
      padding-right: calc((100vw - 1370px) / 2);
      ul {
         transition: 0.5s;
         display: flex;
         justify-content: center;
         justify-content: space-between;
         align-items: center;
         // padding: 15px min(4vw, 60px);
         width: 100vw;
         margin-left: calc((100vw - 1370px) / -2);
         padding: 15px calc(((100vw - 1370px) / 2) + min(4vw, 60px));
      }
      @media (max-width: 1440px) {
         padding-left: 35px;
         padding-right: 35px;
         margin-left: -35px;
         ul {
            margin-left: -35px;
            padding: 15px calc(35px + min(4vw, 60px));
         }
      }
   }
   @media (max-width: $tablet) {
      &__left {
         flex: unset;
         margin: 0;
      }
      &__list,
      &__media,
      &__spoiler,
      &__down {
         display: none;
      }
      &__actions {
         flex: 1;
         margin-left: 40px;
         gap: 40px;
      }
      &__cart {
         margin: 0;
      }
      &__compare {
         flex: 1;
      }
   }
   @media (max-width: $mobile) {
      &__wrapper {
         height: 52px;
      }
      &__actions {
         margin-left: 15px;
         gap: 15px;
      }
      &__burger {
         width: 30px;
         height: 30px;
         flex: 0 0 30px;
         svg {
            max-width: 40%;
         }
      }
      &__logo {
         width: 30px;
         height: 30px;
         svg {
            display: none;
         }
         .mobile {
            display: block;
         }
      }
   }
}
.header__parent {
   span {
      translate: 0 2px;
   }
}
.header-menu {
   position: fixed;
   top: 66px;
   padding-top: 15px;
   background-color: #f1f1f1;
   left: 0;
   right: 0;
   transition: 0.4s;
   translate: 100% 0;
   &.active {
      translate: 0 0;
   }
   &__wrapper {
      padding-top: 10px;
      display: flex;
      height: calc(100vh - 66px - 87px);
      @media (max-width: $tablet) {
         display: none;
      }
   }
   // .header-menu__side

   &__side {
      display: flex;
      flex-direction: column;
      flex: 0 0 336px;
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      height: 100%;
      ul {
         display: flex;
         flex-direction: column;
         a {
            padding: 0 10px;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: rgba(0, 0, 0, 0.85);
            font-size: 18px;
            line-height: 110%; /* 19.8px */
            text-transform: uppercase;
            transition: 0.4s;
            svg {
               transition: 0.4s;
               opacity: 0;
            }
            &.active {
               background: rgba(0, 0, 0, 0.05);
               svg {
                  opacity: 1;
               }
            }
            span {
               text-align: left;
               flex: 1;
            }
         }
      }
      .non-hover {
         flex: 1;
         background-color: red;
      }
   }

   // .header-menu__main

   &__main {
      flex: 1;
      position: relative;
   }
   @media (max-width: $tablet) {
      padding-top: 0;
   }
   @media (max-width: $mobile) {
      top: 52px;
      &__wrapper {
         height: calc(100vh - 52px);
      }
   }
}
.header-assort {
   padding-left: 40px;
   position: absolute;
   inset: 0;
   transition: 0.4s;
   opacity: 0;
   pointer-events: none;
   &.active {
      pointer-events: all;
      opacity: 1;
   }
   // .header-assort__content

   &__content {
      display: flex;
      justify-content: space-between;
      gap: 64px;
   }

   // .header-assort__main

   &__main {
      flex: 0 0 221px;
      display: flex;
      flex-direction: column;
      gap: 35px;
   }

   // .header-assort__header

   &__header {
      display: flex;
      align-items: center;
      gap: 8px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 25px;
      line-height: 110%; /* 27.5px */
      text-transform: uppercase;
      svg {
         flex: 0 0 40px;
      }
   }

   // .header-assort__list

   &__list {
      display: flex;
      flex-direction: column;
      a {
         height: 40px;
         display: flex;
         padding: 0 10px;
         color: black;
      }
   }

   // .header-assort__items

   &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      flex: 0 1 610px;
      .product-card {
         &__image {
            @media (max-width: 1440px) {
               height: calc(270px + 200 * ((100vw - 1024px) / (1440 - 1024)));
               flex: 0 0 calc(270px + 200 * ((100vw - 1024px) / (1440 - 1024)));
            }
         }
      }
   }
}
.menu-mobile {
   display: none;
   position: relative;
   padding-bottom: 20px;
   overflow-y: auto;
   overflow-x: hidden;
   width: calc(100vw - 24px);
   // .menu-mobile__city
   &:has(.menu-mobile__parent.active) {
      overflow: hidden;
   }
   .delivery-hero__footer {
      background: rgba(0, 0, 0, 0.05);
      align-items: center;
      justify-content: center;
      padding: 15px;
      margin-top: 20px;
   }
   &__city {
      width: 100%;
      display: flex;
      min-height: 64px;
      .header__spoiler {
         display: flex;
      }
   }

   // .menu-mobile__list

   &__list {
      // overflow: auto;
      // height: calc(100dvh - 64px - 66px);
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow-x: hidden !important;
      width: calc(100vw - 24px);
      // li:first-child {
      //    & > a,
      //    button,
      //    .menu-mobile__parent {
      //       border-top: 1px solid rgba(0, 0, 0, 0.1);
      //    }
      // }
      a,
      button,
      .menu-mobile__parent {
         height: 54px;
         width: 100%;
         display: flex;
         align-items: center;
         gap: 8px;
         color: rgba(0, 0, 0, 0.85);
         font-size: 16px;
         line-height: 120%; /* 19.2px */
         letter-spacing: 0.16px;
         text-transform: uppercase;
         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
         &.active {
            & > .menu-mobile__sublist {
               translate: 0;
            }
         }
         span {
            text-align: left;
            flex: 1;
         }
      }
   }
   &__parent {
   }
   &__sublist {
      background-color: #f1f1f1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      translate: calc(100% + 20px) 0;
      transition: 0.4s;
      // height: calc(100dvh - 66px);
      height: 100%;
      overflow: auto;
      &.active {
         translate: 0;
      }
   }
   &__title {
      padding-top: 20px;
      padding-bottom: 24px;
      display: flex;
      position: relative;
      span {
         position: absolute;
         top: 50%;
         left: 50%;
         translate: -50% -50%;
      }
   }
   @media (max-width: $tablet) {
      display: flex;
      height: calc(100dvh - 66px);
      flex-direction: column;
      left: 0;
      right: 0;
   }
   @media (max-width: $mobile) {
      height: calc(100dvh - 52px);
      &__sublist {
         // height: calc(100dvh - 52px);
      }
      &__list {
         // height: calc(100dvh - 64px - 52px);
      }
   }
}

.header-search {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   min-height: 570px;
   padding-bottom: 64px;
   max-height: 100vh;
   background-color: #f1f1f1;
   z-index: 10;
   transition: 0.3s;
   translate: 100% 0;
   &.active {
      translate: 0 0;
   }
   // .header-search__wrapper

   &__wrapper {
      max-width: 1180px;
      margin: 0 auto;
      padding: 0 20px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;
   }

   // .header-search__header

   &__header {
      display: flex;
      align-items: center;
      gap: 15px;
   }

   // .header-search__input

   &__input {
      flex: 1;
      display: flex;
      gap: 8px;
      border-bottom: 1px solid #000;
      height: 44px;
      align-items: center;
      padding: 10px 0;
      button {
         width: 24px;
         height: 24px;
         flex: 0 0 24px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      input {
         background-color: transparent;
         flex: 1;
      }
   }
   &__empty {
      display: flex;
      flex-direction: column;
      gap: 25px;
      max-width: 293px;
   }
   // .header-search__close

   &__close {
      display: flex;
      align-items: center;
      gap: 7px;
      height: 31px;
      padding: 0 9px;
      border-radius: 30px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      .mobile {
         display: none;
      }
   }

   // .header-search__main

   &__main {
      display: flex;
      // justify-content: space-between;
      gap: 195px;
   }

   // .header-search__side

   &__side {
      flex: 0 0 150px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      h3 {
         color: rgba(0, 0, 0, 0.85);
         font-family: $fontOswald;
         font-size: 18px;
         font-weight: 400;
         line-height: 110%; /* 19.8px */
         text-transform: uppercase;
      }
      ul {
         display: flex;
         flex-direction: column;
         gap: 10px;
         li {
            button {
               display: flex;
               align-items: center;
               gap: 4px;
               svg {
                  width: 24px;
                  height: 24px;
                  flex: 0 0 24px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
            }
         }
      }
   }

   // .header-search__content

   &__content {
      flex: 0 1 795px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .home-garanty__link {
         margin: 0 auto;
         margin-top: 10px;
         width: 270px;
         svg {
            rotate: 180deg;
         }
      }
   }

   // .header-search__title

   &__title {
      color: rgba(0, 0, 0, 0.85);
      font-family: $fontOswald;
      font-size: 18px;
      font-weight: 400;
      line-height: 110%; /* 19.8px */
      text-transform: uppercase;
   }
   &__go {
      display: none;
   }
   // .header-search__products
   &__res {
      display: none;
   }
   &__products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      .product-card__image {
         height: 250px;
         flex: 0 0 250px;
      }
   }
   @media (max-width: $tablet) {
      &__header {
         flex-wrap: wrap;
      }
      &__res {
         order: 3;
         margin-top: 5px;
         display: flex;
         flex-wrap: wrap;
         gap: 10px;
         flex: 1 0 100%;
         li {
            height: 29px;

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 9px;
            color: #000;
            font-family: $fontHelvetica;
            font-size: 12px;
            line-height: 140%; /* 16.8px */
            border-radius: 30px;
            border: 1px solid rgba(0, 0, 0, 0.15);
         }
      }
      &__products {
         display: none;
      }
      &__go {
         order: 2;
      }
      &__close {
         span,
         .desktop {
            display: none;
         }
         .mobile {
            display: block;
         }
         width: 36px;
         max-width: 36px;
         height: 36px;
         // flex: 1 0 100%;
         flex: 0 0 36px;
         margin-right: 500px;
         border-radius: 50%;
         order: 1;
      }
      &__input {
         order: 2;
      }
      &__go {
         display: flex;
         width: 36px;
         height: 36px;
         flex: 0 0 36px;
         background-color: #4b1e78;
      }
      &__content {
         display: none;
      }
      &__wrapper {
         padding-top: 20px;
         gap: 50px;
      }
      &__main {
         flex-direction: column-reverse;
         gap: 60px;
      }
   }
   @media (max-width: $mobile) {
      height: 100vh;
      overflow: auto;
      &__wrapper {
         padding-top: 10px;
         padding-left: 12px;
         padding-right: 12px;
      }
   }
}
