.container {
   max-width: 1440px;
   padding: 0 35px;
   margin: 0 auto;
   @media (max-width: $tablet) {
      padding: 0 20px;
   }
   @media (max-width: $mobile) {
      padding: 0 12px;
   }
}
.h1 {
   @include h1;
   text-transform: uppercase;
   @media (max-width: $tablet) {
      @include h1-tablet;
   }
   @media (max-width: $mobile) {
      @include h1-mobile;
   }
}
.h2 {
   @include h2;
   text-transform: uppercase;
   @media (max-width: $tablet) {
      @include h2-tablet;
   }
   @media (max-width: $mobile) {
      @include h2-mobile;
   }
}
.h3 {
   @include h3;
   @media (max-width: $tablet) {
      @include h3-tablet;
   }
   @media (max-width: $mobile) {
      @include h3-mobile;
   }
}
.body-text {
   @include text-body;
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: $fontOswald;
}
.main {
   flex: 1;
}

.btn {
   // .btn_transparent
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 81px;
   padding-left: 13px;
   padding-right: 13px;
   transition: 0.3s;
   &_transparent {
      border: 1px solid #ffffff4d;
      font-family: $fontHelvetica;
      font-size: 12px;
      font-weight: 500;
      color: white;
      &:hover {
         border-color: white;
      }
   }
}

.slider-btn {
   width: 36px;
   height: 36px;
   flex: 0 0 36px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 1px solid #ffffff4d;
   margin: unset !important;
   left: unset !important;
   top: unset !important;
   right: unset !important;
   bottom: unset !important;
   position: relative !important;
   transition: 0.3s;
   &:hover {
      border-color: white;
   }
   &.swiper-button-next {
      rotate: 180deg;
   }
   svg {
      width: 16px;
      height: 16px;
   }
   &::after {
      display: none;
   }
}

.section {
   padding: 135px 0;
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
   }
   @media (max-width: $tablet) {
      padding: 90px 0;
      &__wrapper {
         gap: 30px;
      }
   }
   @media (max-width: $mobile) {
      padding: 60px 0;
      &__wrapper {
         gap: 25px;
      }
   }
}

.tabs-list {
   display: flex;
   gap: 8px;
   input {
      display: none;
   }
   label {
      cursor: pointer;
      color: #00000066;
      padding: 4px 8px;
      &:hover {
         color: #020202;
      }
      &::after {
         background-color: black;
      }
   }
   input:checked + label {
      color: #020202;
      &::after {
         transform-origin: left;
         transform: scaleX(1) rotate(0.001deg);
      }
   }
}

.collapse:not(.collapse_show) {
   display: none;
}
