.order-page {
   margin-bottom: 135px;
   margin-top: 40px;
   // .order-page__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
   }

   // .order-page__title

   &__title {
   }

   // .order-page__main

   &__main {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
   }

   // .order-page__content

   &__content {
      display: flex;
      justify-content: space-between;
      gap: 120px;
   }
   &__aside {
      flex: 0 0 420px;
   }
   .product-page__tabs {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding-bottom: 2px;
   }
   @media (max-width: $tablet) {
      margin-top: 30px;
      margin-bottom: 90px;
      &__wrapper {
         gap: 30px;
      }
      &__content {
         flex-direction: column;
         gap: 90px;
      }
      .product-page__tabs {
         padding-left: 0;
      }
      &__aside {
         flex: unset;
      }
   }
   @media (max-width: $mobile) {
      margin-bottom: 60px;
   }
}
.order-main {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 60px;
   // .order-main__block
   .fw {
      grid-column: span 2;
   }
   &__block {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   // .order-main__title

   &__title {
   }

   // .order-main__inputs

   &__inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 20px;
   }

   // .order-main__radios

   &__radios {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      label {
         align-items: flex-start;
         div {
            width: 15px;
            height: 15px;
            flex: 0 0 15px;
            translate: 0 2px;
            &::after {
               width: 15px;
               height: 15px;
               flex: 0 0 15px;
            }
         }
      }
      p {
         display: flex;
         flex-direction: column;
         gap: 5px;
         a {
            transition: 0.3s;
            color: black;
            border-bottom: 1px solid black;
            @media (hover: hover) {
               &:hover {
                  opacity: 0.4;
               }
            }
         }
      }
      .second {
         @include regular-12;
         c {
            color: rgba(0, 0, 0, 0.4);
         }
      }
   }
   @media (max-width: $tablet) {
      &__inputs {
         column-gap: 40px;
      }
   }
   @media (max-width: $mobile) {
      &__inputs {
         grid-template-columns: 1fr;
         gap: 20px;
      }
      .fw {
         grid-column: unset;
      }
      &__radios {
         grid-template-columns: 1fr;
         gap: 20px;
      }
   }
}
.order-aside {
   height: fit-content;
   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__products {
      display: flex;
      gap: 10px;
      li {
         flex: 0 0 134px;
         a {
            display: flex;
            align-items: center;
            justify-content: center;
         }
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         @media (max-width: $mobile) {
            flex: 0 0 70px;
         }
      }
   }
   &__show {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.4);
      border: 1px solid rgba(0, 0, 0, 0.15);
      height: 100%;
   }
   &__footer {
      background-color: rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 15px;
      padding: 15px 32px;
      span {
         @include regular-12;
         color: rgba(0, 0, 0, 0.4);
      }
      a {
         @include h4;
         color: black;
         // .header__circle {
         //    width: 36px;
         //    height: 36px;
         //    flex: 0 0 36px;
         //    border-color: black;
         //    svg {
         //       width: 16px;
         //       height: 16px;
         //       path {
         //          fill: black;
         //       }
         //    }
         // }
      }
      & > div {
         display: flex;
         align-items: center;
         gap: 10px;
         .header__circle {
            width: 36px;
            height: 36px;
            flex: 0 0 36px;
            border-color: black !important;
            svg {
               width: 16px;
               height: 16px;
               flex: 0 0 16px;
               path {
                  fill: black;
               }
            }
         }
      }
      .header__phone {
         margin: 0;
      }
   }
}
.order-main {
   // .order-main__success

   &__success {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 492px;
      ul {
         display: flex;
         gap: 15px;
         white-space: nowrap;
         a {
            width: 100%;
         }
         & > li:nth-child(1) {
            flex: 0 0 220px;
         }
         & > li:nth-child(2) {
            flex: 0 0 200px;
         }
         @media (max-width: $tablet) {
            flex-direction: column;
            & > li:nth-child(1) {
               flex: unset;
            }
            & > li:nth-child(2) {
               flex: unset;
            }
         }
         @media (max-width: $mobile) {
            flex-direction: column;
            li {
               flex: unset !important;
            }
         }
      }
      @media (max-width: $tablet) {
         max-width: 100%;
         gap: 30px;
         p {
            text-align: center;
         }
      }
   }
}
.order-success {
   &__wrapper {
      gap: 70px;
   }
   &__products {
      flex-direction: column;
   }
}

.order-news {
   .product-section__header {
      margin: 0;
   }
   .product-section {
      padding: 0;
   }
   .swiper {
      max-width: 830px;
      .product-card__image {
         height: 300px;
         flex: 0 0 300px;
      }
      @media (max-width: 1440px) {
         max-width: calc(415px + 515 * ((100vw - 1024px) / (1440 - 1024)));
         // max-width: 430px;
      }
   }
   // margin-top: 33px;
   // .order-news__header
   display: flex;
   flex-direction: column;
   gap: 20px;
   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .order-news__title

   &__title {
   }

   // .order-news__main

   &__main {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      .product-card__image {
         height: 300px;
         flex: 0 0 300px;
         @media (max-width: 1440px) {
            height: calc(180px + 120 * ((100vw - 1024px) / (1440 - 1024)));
            flex: 0 0 calc(180px + 120 * ((100vw - 1024px) / (1440 - 1024)));
         }
      }
      @media (max-width: 1440px) {
         max-width: calc(415px + 515 * ((100vw - 1024px) / (1440 - 1024)));
         // max-width: 430px;
      }
      @media (max-width: $mobile) {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 8px;
         row-gap: 30px;
         .product-card {
            height: fit-content;
         }
      }
   }
   @media (max-width: $tablet) {
      &__products {
         width: 100%;
         max-width: unset;
      }
   }
}

.order-product {
   flex: unset !important;
   display: flex;
   gap: 15px;
   padding: 15px 0;
   border-top: 1px solid rgba(0, 0, 0, 0.15);
   img {
      width: 124px !important;
      height: 86px !important;
      flex: 0 0 124px;
   }
   &__info {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &__name {
      @include h5;
   }
   &__price {
      @include medium-14;
   }
   @media (max-width: $tablet) {
      &__name {
         @include h5-tablet;
      }
      &__price {
         @include medium-12;
      }
      img {
         width: 100px !important;
         height: 70px !important;
         flex: 0 0 100px;
      }
   }
}
.order-success__wrapper {
   .order-page {
      &__content {
         @media (max-width: $tablet) {
            flex-direction: column-reverse;
         }
      }
   }
   .order-main {
      gap: 90px;
      @media (max-width: $tablet) {
         gap: 60px;
      }
   }
   .order-steps {
      display: none;
      @media (max-width: $mobile) {
         display: block;
      }
   }
   @media (max-width: $mobile) {
      padding-bottom: 60px;
   }
}
.order-steps {
   padding-top: 80px;
   padding-bottom: 135px;
   // .order-steps__wrapper

   &__wrapper {
   }

   // .order-steps__title

   &__title {
   }

   // .order-steps__list

   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
   }

   // .order-steps__item

   &__item {
      display: flex;
      flex-direction: column;
      gap: 40px;
      background-color: #0000000d;
      padding: 30px;
   }

   // .order-steps__index

   &__index {
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid #0000004d;
      @include h4;
      span {
         translate: 0 2px;
      }
   }
   @media (max-width: $tablet) {
      padding-bottom: 90px;
      &__list {
         grid-template-columns: repeat(2, 1fr);
      }
      &__item {
         padding: 20px;
      }
   }
   @media (max-width: $mobile) {
      display: none;
      padding: 0;
      &__list {
         grid-template-columns: 1fr;
      }
      &__item {
         gap: 20px;
         padding: 16px;
      }
   }
}
