.auction-documents {
   padding: 135px 0;
   @media (max-width: $tablet) {
      padding: 90px 0;
   }
   @media (max-width: $mobile) {
      padding: 60px 0;
   }
   // .auction-documents__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
   }

   // .auction-documents__title

   &__title {
      text-align: center;
      max-width: 904px;
   }

   // .auction-documents__list

   &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      li {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         padding: 30px;
         gap: 40px;
         background: rgba(0, 0, 0, 0.05);
         .circle {
            width: 54px;
            height: 54px;
            flex: 0 0 54px;
            background-color: #4b1e78;
         }
      }
      @media (max-width: $tablet) {
         grid-template-columns: 1fr;
         li {
            flex-direction: row;
            gap: 30px;
            align-items: center;
            text-align: left;
            padding: 20px;
         }
      }
      @media (max-width: $mobile) {
         li {
            gap: 20px;
            padding: 15px;
         }
      }
   }
}
.auction-sites {
   padding-bottom: 135px;
   @media (max-width: $tablet) {
      padding-bottom: 90px;
   }
   @media (max-width: $mobile) {
      padding-bottom: 60px;
   }
   // .auction-sites__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
   }

   // .auction-sites__title

   &__title {
      text-align: center;
   }

   // .auction-sites__list

   &__list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      li {
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         min-height: 120px;
         background: var(--Black-5, rgba(0, 0, 0, 0.05));
         padding: 30px;
      }
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
         li {
            font-size: 25px;
            &:nth-child(5) {
               grid-column: span 2;
            }
         }
      }
      @media (max-width: $mobile) {
         li {
            font-size: 18px;
            min-height: 82px;
         }
      }
   }
}
.auction-brief {
   // .auction-brief__wrapper

   &__wrapper {
   }

   // .auction-brief__header

   &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 40px;
      gap: 20px;
   }

   // .auction-brief__title

   &__title {
   }

   // .auction-brief__main

   &__main {
      padding: 50px 45px;
      padding-bottom: 80px;
      background: var(--Brand-violet, #4b1e78);
      @media (max-width: $tablet) {
         padding: 60px 0;
      }
      @media (max-width: $mobile) {
         padding: 40px 0;
      }
   }
}
.auction-form {
   display: flex;
   gap: 240px;
   color: white;
   // .auction-form__main

   &__main {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 0 0 400px;
   }

   // .auction-form__title

   &__title {
      color: var(--White-100, #fff);
      font-family: $fontOswald;
      font-size: 25px;
      line-height: 120%; /* 30px */
      letter-spacing: -0.25px;
      text-transform: uppercase;
      @media (max-width: $mobile) {
         font-size: 18px;
      }
   }

   // .auction-form__actions

   &__actions {
      flex: 0 1 420px;
      display: flex;
      flex-direction: column;
      gap: 40px;
   }

   // .auction-form__list

   &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .app-input {
         color: white;
         border-color: #ffffff66;
         &::placeholder {
            color: #ffffff66;
         }
      }
   }

   // .auction-form__footer

   &__footer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .home-garanty__link {
         width: 100%;
         border: 1px solid var(--White-100, #fff);
      }
   }

   // .auction-form__check

   &__check {
      font-family: $fontHelvetica;
      font-size: 12px;
      line-height: 140%;
      label {
         align-items: flex-start;
         color: var(--White-40, rgba(255, 255, 255, 0.4));
         div {
            translate: 0 4px;
            border-color: #ffffff66;
         }
      }
      a {
         color: var(--White-40, rgba(255, 255, 255, 0.4));
         border-bottom: 1px solid var(--White-40, rgba(255, 255, 255, 0.4));
      }
   }
   @media (max-width: $tablet) {
      flex-direction: column;
      gap: 40px;
      &__main,
      &__actions {
         padding: 0;
         flex: unset;
      }
      &__main {
         gap: 20px;
      }
      &__footer {
         max-width: 327px;
      }
   }
   @media (max-width: $mobile) {
      &__footer {
         max-width: unset;
      }
   }
}
